 <div class="container container-fluid mt-5 mb-5">
    <div class="row">
        <div class="col-lg">
            <h4>An example of Observable usage within two components.</h4>

            <p class="pt-2 text-description">
              We have two components subscribing to a variable data. In this example we have 2 components subscribing to a set of numbers.
              Upon receiving the published set of numbers it will perform its operation; On this case we have addition and subtraction.
            </p>

            <div class="form-group">
                <label for="first">Please add a number:</label>
                <input id="first" class="form-control" type="number" [(ngModel)]="first">
            </div>
            <div class="form-group">
                <label for="second">Add another here:</label>
                <input class="form-control" type="number" [(ngModel)]="second">
            </div>

            <div class="form-group">
                <button class="btn btn-secondary" (click)="submit()">Submit</button>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-sm">
            <app-addition></app-addition>
        </div>
        <div class="col-sm">
            <app-substraction></app-substraction>
        </div>
    </div>
</div>
